<nav ng-if="!waiting" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div ng-switch="pageType">
		<span ng-switch-when="album-root"><ng-include src=" 'views/album_root_header.html' "></ng-include></span>
		<span ng-switch-when="album-week"><ng-include src=" 'views/album_week_header.html' "></ng-include></span>
		<span ng-switch-when="album-year"><ng-include src=" 'views/album_year_header.html' "></ng-include></span>
		<span ng-switch-when="photo"><ng-include src=" 'views/photo_header.html' "></ng-include></span>
	</div>
</nav>
<div ng-if="!waiting" ng-switch="albumOrPhoto">
	<span ng-switch-when="album"><ng-include src=" 'views/album_body.html' "></ng-include></span>
	<span ng-switch-when="photo"><ng-include src=" 'views/photo_body.html' "></ng-include></span>
</div>
<div ng-if="waiting" class="jumbotron">
	<div class="container"></div>
</div>