<div class="navbar-header">
	<span class="navbar-brand">{{photo.title}}</span>
</div>
<ul class="nav navbar-nav navbar-right">
	<li><a class="btn">caption</a></li>
	<li><a class="btn" target="edit" href="http://tacocat.com/pictures/main.php?g2_view=core.ItemAdmin&g2_subView=core.ItemEdit&g2_itemId={{photo.id}}">edit</a></li>
    <li>
    	<div class="btn-group">
    		<a class="btn btn-default" ng-disabled="!prevPhoto" href="#{{prevPhoto.url}}"><span class="glyphicon glyphicon-chevron-left"></span> Prev</a>
			<a class="btn btn-default" href="#{{album.url}}"><span class="glyphicon glyphicon-home"></span> Album</a>
			<a class="btn btn-default" ng-disabled="!nextPhoto" href="#{{nextPhoto.url}}">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
    	</div>
    </li>
</ul>